Flask==2.1.0
requests==2.23.0
pylint==2.4.0
gunicorn==20.0.4
jaeger-client==4.3.0
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-requests
opentelemetry-exporter-jaeger
prometheus-client==0.11.0
prometheus-flask-exporter==0.18.2
Flask-OpenTracing==1.1.0
